[Desktop Entry]
Name=melkam
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "sudo melkam"
Icon=/home/melkams/melkam.jpeg
StartupNotify=false
Terminal=true
Type=Application
X-Kali-Package=melkam
